################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts =
    part
versions = versions
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
minitage.core>=0.0.4
minitage.recipe  >= 0.0.1
setuptools = 0.6c9
[gd]
location=${buildout:directory}/../../dependencies/libgd-2.0/parts/part
[gdal]
location=${buildout:directory}/../../dependencies/gdal-1.5/parts/part
[geos]
location=${buildout:directory}/../../dependencies/geos-3.0/parts/part
[postgresql]
location=${buildout:directory}/../../dependencies/postgresql-8.2/parts/part
[proj]
location=${buildout:directory}/../../dependencies/proj-4.6/parts/part
[libiconv]
location=${buildout:directory}/../../dependencies/libiconv-1.12/parts/part
[zlib]
location=${buildout:directory}/../../dependencies/zlib-1.2/parts/part
[libtiff]
location=${buildout:directory}/../../dependencies/libtiff-3.8/parts/part
[freetype]
location=${buildout:directory}/../../dependencies/freetype-2.1/parts/part
[libpng]
location=${buildout:directory}/../../dependencies/libpng-1.2/parts/part
[jpeg]
location=${buildout:directory}/../../dependencies/libjpeg-6b/parts/part
[curl]
location=${buildout:directory}/../../dependencies/curl-7.16/parts/part
[libxml2]
location=${buildout:directory}/../../dependencies/libxml2-2.6/parts/part
[agg]
location=${buildout:directory}/../../dependencies/agg-2.5/parts/part
[part]
name = part
recipe = minitage.recipe:cmmi
url = http://download.osgeo.org/mapserver/mapserver-5.0.2.tar.gz
md5sum = 508a937a78677110a83d2843ba2f8c1d
gmake=True
configure-options=--with-wmsclient --with-wcs --with-wfs --with-wfsclient --with-sos
    --with-ogr=${gdal:location}/bin/gdal-config
    --with-gdal=${gdal:location}/bin/gdal-config
    --with-geos=${geos:location}/bin/geos-config
    --with-postgis=${postgresql:location}/bin/pg_config
    --with-proj=${proj:location}
    --with-libiconv=${libiconv:location}
    --with-tiff=${libtiff:location}
    --with-zlib=${zlib:location}
    --with-freetype=${freetype:location}/bin/freetype-config
    --with-png=${libpng:location}
    --with-jpeg=${jpeg:location}
    --with-gd=${gd:location}
    --with-curl-config=${curl:location}/bin/curl-config
    --with-xml2-config=${libxml2:location}/bin/xml2-config
    --with-agg=${agg:location}
# force it to eat our LDFLAGS
pre-configure-hook= ${buildout:directory}/hooks/hook.py:hook
# install the cgi into prefix/bin
post-make-hook= ${buildout:directory}/hooks/hook.py:install
